/* ---- MINI RESET ---- */
html {
  box-sizing: border-box;
}

body, article, section, h1, h2, h3, h4, div {
  margin: 0;
  padding: 0;
  font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, header, footer, section {
	display: block;
}


/* ---- TYPOGRAPHY ---- */
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2 { text-transform: uppercase; }

/* h4, .about {
  font-family: Arial, Helvetica, sans-serif;
} */

h1 { font-size: 8rem; }

.about { 
  font-size: 1.4rem;
  font-weight: 300;
  color: #222;
  /* max-width: 800px; */
  /* margin: 0 auto; */
  position: relative;
  left: 15px;
  line-height: 1.9;
  background-color: rgba(255, 254, 70, 0.6);
  padding: 0.2rem 0;
  box-shadow: 15px 0 0 rgba(255, 254, 70, 0.6), -15px 0 0 rgba(255, 254, 70, 0.6);
  /* background-image: -webkit-linear-gradient(42deg, #4776E6, #5B00C7); */
}

h2 { 
  font-size: 3rem; 
  text-align: center;
}

h3 { font-size: 2rem; }

h1 {
  background-image: -webkit-linear-gradient(42deg, #5B00C7, #4776E6);
  /* background-image: -webkit-linear-gradient(left, #E0F8F7, #585858, #fff); */
  /* color: #000; */
  color: #222;
  /* text-shadow: 4px 4px 0 #FFFE46;  */
  /* color: transparent; */
  -webkit-background-clip: text;
  background-clip: text;
}

h2 {
  background-image: -webkit-linear-gradient(22deg, #5B00C7, #4776E6);
  /* background-image: -webkit-linear-gradient(22deg, #fc4a1a, #f7b733); */
  /* background-image: -webkit-linear-gradient(left, #E0F8F7, #585858, #fff); */
  /* color: #000; */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0 0 2rem 0;
}

.footer h2 {
  background-image: -webkit-linear-gradient(22deg, #fc4a1a, #f7b733);
  
}

/* ---- LAYOUT ---- */
header {
  background-color: #fff;
  padding: 8rem  0;
  text-align: center;
  background-image: url("../images/wormz.png");
}

article {
  background-color: #fff;
  /* background-color: #aaa; */
  padding: 4rem;
}

section {
  padding: 1.2rem;
  max-width: 360px;
}

.about-container { 
  max-width: 800px; 
  margin: 0 auto;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  background-image: url("../images/topography.png");
}

img {
  max-width: 100%;
  max-height: 100%;
}
